.text-right {
    text-align: right;
}

.text7xl {
    font-size: 64px;
    font-weight: bold;
}
.text4xl {
    font-size: 40px;
}
.textxl {
    font-size: xx-large;
}
.TextAlignLeft {
    text-align: left;
}
.TextAlignCenter {
    text-align: center;
}
.TextAlignRight {
    text-align: right;
}
.normal {
    background: #000;
}
.textColor{
    color: brown;
}