@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200..900&family=Madimi+One&display=swap");


.bn-container[data-theming-css-demo] .bn-editor * {
  line-height: 30px;
}
.bn-container[data-theming-css-demo] .bn-editor {
  padding: 0px;
}
.bn-container[data-theming-css-demo] .bn-editor p {
  font-size: 18px;
  display: block;
  margin-block-end: 1em;
}

.bn-container .bn-default-styles:first-child {
  display: none;
}
.bn-container[data-theming-css-demo] .bn-editor a {
  text-underline-offset: 10px;
  text-decoration-line: underline;
  text-decoration-color: chocolate;
}