.ce-block__content,
.ce-toolbar__content {
  max-width: calc(100% - 100px) !important;
}
.cdx-block {
  max-width: 100% !important;
}
.codex-editor__loader {
  height: 35px !important;
}
.codex-editor__redactor {
  padding-bottom: 32px !important;
}
.ce-block__content p {
  font-size: medium !important;
  font-weight: 500;
  line-height: 200%;
}
.ce-block__content h1 {
  font-size: xx-large !important;
  font-weight: 800;
  line-height: 200%;
}
.ce-block__content h2 {
  font-size: x-large !important;
  font-weight: 700;
}
.ce-block__content h3 {
  font-size: larger !important;
  font-weight: 600;
}
.ce-block__content h4 {
  font-size: medium !important;
  font-weight: 600;
}
.ce-block__content h5 {
  font-size: medium !important;
  font-weight: 600;
}
.ce-block__content h6 {
  font-size: medium !important;
  font-weight: 600;
}

.cdx-quote-icon svg {
  transform: rotate(180deg) !important;
}

.cdx-quote {
  margin: 0 !important;
}

.cdx-quote__text {
  min-height: 18px !important;
  margin-bottom: 0 !important;
  border: none;
  box-shadow: none;
  border-right: #707684 4.7px solid;
  border-radius: 0;
  margin-right: 60px;
}
.cdx-quote__caption {
  min-height: 0px !important;
  margin-bottom: 5px !important;
  margin: 0;
  border: none;
  box-shadow: none;
  border-right: #707684 4.7px solid;
  border-radius: 0;
  margin-right: 60px;
}
.cdx-quote [contentEditable="true"][data-placeholder]::before {
  position: absolute !important;
  content: attr(data-placeholder) !important;
  color: #707684 !important;
  font-weight: normal !important;
  opacity: 0 !important;
}

.cdx-quote [contentEditable="true"][data-placeholder]:empty::before {
  opacity: 1 !important;
}

.cdx-quote [contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0 !important;
}

.cdx-quote-settings {
  display: flex !important;
}

.cdx-quote-settings .cdx-settings-button {
  width: 50% !important;
}
.image-tool__caption {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  text-align: center;
  font-size: small;
}

.image-tool__image {
  padding: 0 !important;
  margin-bottom: 2px !important;
}

.ce-block:first-child {
  display: none !important;
  /* background-color: #505050 !important; */
}
